*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    text-align: center;
}
#main{
}
.content{
    min-height: 80vh;
    background: black;
    padding: 50px 0;
}
h1{
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 0, 106);
    font-size: 2.4rem;
}
.colors{
    cursor: pointer;
}
#showTxt{
    font-family: 'Exo 2', sans-serif;
    margin: 15px auto;
    font-size: 2.4rem;
}
.container{
    margin: 20px auto;
}
.colors{
    padding: 5px 10px;
    /* background: rgba(255, 255, 255, 0.082); */
    background: rgba(255, 255, 255, 0.048);
    font-size: 20px;
    margin: 10px 5px;
    display: inline-block;
    border-radius: 3px;
}
.score p{
    font-size: 1.8rem;
}
.result,.result_score{
    margin: 5px 0;
    display: flex;
    justify-content: center;
}
.result p,.result_score p{
    position: relative;
    float: left;
    font-size: 1.4rem;
    margin: 0 10px;
}
#win{
    color: rgb(0, 175, 0);
}
#loss{
    color: rgb(216, 27, 27);
}
.result_score p{
    margin: 10px 25px;
}
.notes{
    padding: 7px;
    letter-spacing: 0.7px;
}
#highestScore{
    font-size: 1.2rem;
    color: rgb(0, 255, 255);
}


footer{
    position: relative;
    padding: 15px;
    color: gold;
    /* background: rgb(12, 12, 12); */
    background: #101010;
}
@media (max-width:400px){
    *{
        margin: 0;
        padding: 0;
    }
    h1{
        margin: 20px auto;
        font-size: 2.4rem;
    }
    #showTxt{
        font-size: 1.7rem;
    }
    .content{
        background: black;
        padding: 50px 0;
        height: auto;
    }
}