/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');

:root{
    --font1: 'Titillium Web', sans-serif;
    --font2: 'Lobster Two', cursive;
    --font3: 'PT Sans', sans-serif;
    --font4: 'Oxygen', sans-serif;
    /* --color1: #f16334; */
    /* --color1: rgb(0, 183, 255); */
    --color1: rgb(82, 44, 250);
    --color2: white;
    --color3: #43464b;
    --color4: rgb(240, 240, 240);
    --color5: rgb(30, 7, 134);
    
    
    /*--color1: rgb(10, 10, 10);
    --color2: rgb(31, 31, 31);
    --color4: rgb(10,33,53);
    --color6: rgb(5,5,5); */
}
svg{
    position: absolute;
    bottom: 0;
}
#svg1{
    position: absolute;
    top: -50px;
}
#svgInverse{
    position: relative;
    top: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    transition: 0.6s ease;
}
.top-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 100;
}
.top-btn a{
    font-size: 22px;
    color: whitesmoke;
    border: none;
    padding: 7px 10px;
    border-radius: 3px;
    background: var(--color3);
}
html{
    scroll-behavior: smooth;
}
.top-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 100;
}

                            /* First section  :  Header */

#first{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color4);
}
#first .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first .heading h1{
    color: var(--color3);
    font-size: 70px;
    font-family: var(--font4);
    font-weight: bold;
}
#first .heading #webDesigner{
    margin: 5px auto 20px;
    padding-right: 20px;
    text-align: right;
    color: var(--color1);
    font-size: 30px;
    font-weight: bold;
}
#first .heading a{
    z-index: 10;
    margin: 20px auto 0;
    display: flex;
    align-self: center;
    text-align: center;
    padding: 5px 30px;
    color: var(--color1);
    font-size: 25px;
    border: 2px solid var(--color1);
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s ease;
    box-shadow: 0 20px 28px 0 rgb(82 44 250 / 18%);
}
/* rgba(82, 44, 250, 0.226) */
#first .heading a:hover{
    background: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color1);
}
#first .heading #language{
    margin: -20px auto 10px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font1);
    font-weight: bold;
    color: var(--color3);
    letter-spacing: 1.5px;
}

                        /* second section  :  Skills */
#second{
    height: 70vh;
    padding: 50px 0 50px;
    background: linear-gradient(180deg, var(--color1), rgb(30, 7, 134));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#second .main{
    padding: 10px 0 80px;
}
#second h2{
    width: 90%;
    z-index: 10;
    margin: 30px auto;
    letter-spacing: 0.5px;
    color: var(--color2);
    font-family: var(--font1);
    text-decoration: none;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#second h2::after{
    content: '';
    margin: 0 20px 0;
    position: relative;
    width: 70%;
    display: block;
    background: var(--color2);
    height: 3px;
}
#second h2::before{
    content: '';
    margin: 0 20px 0;
    position: relative;
    width: 70%;
    display: block;
    background: var(--color2);
    height: 3px;
}
.main p{
    margin: 12px auto 5px;
    padding: 0 0 0 5px;
    font-family: var(--font1);
    letter-spacing: .3px;
    color: var(--color2);
    font-size: 20px;
}
.container{
    margin: 0 auto;
    width: 400px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.26);
}

.skill{
    height: 18px;
    text-align: right;
    padding: 5px 10px;
    font-weight: bold;
    background:  var(--color4);
}
.html{
    width: 90%;
}
.css{
    width: 80%;
}
.js{
    width: 75%;
}
.graphic{
    width: 50%;
}

@keyframes load{
    from{
        width: 0%;
    }
}
@keyframes noload{
    from{
        width: 100%;
    }
}

                        /* third section  :  development */

#third{
    background: var(--color4);
    height: 90vh;
}
#third h2{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0 auto 30px;
    letter-spacing: 0.5px;
    color: var(--color1);
    font-family: var(--font1);
    text-decoration: none;
    font-size: 50px;
}
#first .fa,
#second .fa{
    margin: 0 10px 0 0;
}
#third h2::after{
    content: "";
    margin: 0 20px 0;
    position: relative;
    width: 70%;
    display: block;
    background: var(--color1);
    height: 3px;
}
#third h2::before{
    content: "";
    margin: 0 20px 0;
    position: relative;
    width: 70%;
    display: block;
    background: var(--color1);
    height: 3px;
}


@media (max-width: 500px){
    #second{
        padding: 20px 0 60px;
    }
    #second .main{
        padding: 10px 0;
        width: 100%;
    }
    .main p{
        margin: 15px auto 5px;
        padding: 0 0 0 30px;
    }
    .container{
        width: 90%;
    }
}

@media (max-width: 670px){
    .top-btn{
        bottom: 20px;
        right: 20px;
    }
    .top-btn a{
        padding: 9px 12px;
    }
    #first .heading h1{
        font-size: 60px;
        text-align: center;
    }
    #first .heading #webDesigner{
        font-size: 25px;
    }
    #first .heading a{
        font-size: 20px;
    }
    #second h2,
    #third h2,
    #forth h2,
    #fifth h2
    {
        font-size: 40px;
    }
    .main p{
        font-size: 17px;
    }
    #second h2::after,
    #second h2::before,
    #third h2::after,
    #third h2::before{
        display: none;
    }
}