@font-face {
    font-family: neue;
    src: url(neue.woff);
}
*{
    margin: 0;
    padding: 0;
    font-family: neue;
}
html{
    scroll-behavior: smooth;
}
p{
    font-family: neue;
    font-weight: bold;
    letter-spacing: 2px;
}
input,a{
    border: none;
    outline: none;
}
.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.flex-responsive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-row-space-between{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;	
}
.flex-row-space-around{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;	
}
.flex-row-space-evenly{
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;	
}
.flex-column{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.flex-no-wrap{
    flex-wrap: nowrap;
}

.main-body{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(115deg, #000000 0%, #00C508 55%, #000000 100%), linear-gradient(115deg, #0057FF 0%, #020077 100%), conic-gradient(from 110deg at -5% 35%, #000000 0deg, #FAFF00 360deg), conic-gradient(from 220deg at 30% 30%, #FF0000 0deg, #0000FF 220deg, #240060 360deg), conic-gradient(from 235deg at 60% 35%, #0089D7 0deg, #0000FF 180deg, #240060 360deg);
    background-blend-mode: soft-light, soft-light, overlay, screen, normal; */
    /* background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%); */
    background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal;
    box-shadow: 0px -5px 20px 0px #00000038;
    background-attachment: scroll;
}
.container .time-data{
    min-width: 100px;
    background: #00000042;
    color: #fcfcfcd6;
    margin: 5px;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
}
.container .data-unit{
    margin: 5px auto;
    font-size: 1.5rem;
}
.container .data-time{
    letter-spacing: 5px;
    font-size: 4rem;
}

#userInputs{
    background-attachment: scroll;
    background-image: radial-gradient(circle at 50% -20.71%, #ffffa1 0, #f5ffa0 6.25%, #e4ffa0 12.5%, #d2ffa1 18.75%, #bdffa3 25%, #a7fda6 31.25%, #8cfaaa 37.5%, #6cf7af 43.75%, #3cf2b5 50%, #00edbc 56.25%, #00e8c6 62.5%, #00e4d0 68.75%, #00dfdc 75%, #00dbe9 81.25%, #00d7f5 87.5%, #00d3ff 93.75%, #00d0ff 100%);
    min-height: 100vh;
    padding: 30px 0;
}
#userInputs .body-userInput{
    background: #ffffff70;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px -14px #00000075;
}
#userInputs #title{
    margin: 0 0 20px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000c7;
}
#userInputs #event-name{
    margin: 10px auto;
    background: whitesmoke;
    padding: 10px 20px;
    width: 200px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}
label{
    font-weight: 900;
    letter-spacing: .7px;
}
#userInputs a{
    text-decoration: none;
    margin: 10px auto;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 15px;
    background: tomato;
    color: white;    
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    transition: .4s ease;
}
#userInputs a:hover{
    background: white;
    color: tomato;
}
input[type=time],
input[type=date] {
    letter-spacing: 1.4px;
    height: 35px;
    margin: 10px auto;
    /* width: 100%; */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: whitesmoke;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
}

.error-disclaimer{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 220px;
    box-shadow: 0px 0px 70px -12px #00000052;
    transition: 0.5s ease;
    opacity: 0;
}
.error-disclaimer p{
    font-size: 1.1rem;
    line-height: 25px;
}

#count-down-timer .heading-event{
    margin: 0 0 5rem;
}
#count-down-timer .heading-event #event-heading{
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
@media (max-width: 500px) {
    .flex-responsive{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container .data-unit{
        margin: 3px auto;
        font-size: 1rem;
    }
    .container .data-time{
        letter-spacing: 1.5px;
        font-size: 3rem;
    }
    .container .time-data{
        min-width: 0px;
        padding: 20px;
    }
    .main-body{
        background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
        background-blend-mode: soft-light, screen, darken, normal;
    }
    #count-down-timer .heading-event #event-heading{
        font-size: 2rem;
    }
    .time-data .data-unit{
        letter-spacing: 1px;
    }
}

/* footer section */

:root{
    --footer-bg-color: rgb(5, 16, 39);
    --footer-text-color-hover: rgb(78, 104, 155);
    --footer-text-color-dark: rgb(36, 63, 118);
    --footer-text-light-color: rgba(221, 221, 221, 0.741);
    --footer-website-btn-color: rgb(10,32,71);
}



#footer-section{
    background: var(--footer-bg-color);
    color: var(--footer-text-color-dark);
    font-family: var(--text-fonts);
    padding: 5rem 0 2rem;
}
#footer-section h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3rem;
    font-size: 2.5em;
    /* font-family: 'Raleway', sans-serif; */
    letter-spacing: 1px;
}
#footer-section .bio .img-name{
    width: 250px;
}
#footer-section .title-head{
    text-align: center;
    color: var(--footer-text-light-color-dark);
    font-size: 2em;
    font-weight: bold;
}
#footer-section .bio .img-name .title-head::after{
    content: '';
    display: block;
    margin: 5px auto 0;
    height: 3px;
    width: 50%;
    background: var(--footer-text-color-dark);
}
#footer-section .bio .img-name img{
    width: 100%;
    border-radius: 50%;
}
#footer-section .bio .social{
    font-size: 1.5em;
    padding: 10px 0;
}
#footer-section .bio .social a{
    padding: 0 5px;
    color: var(--footer-text-color-dark);
    transition: .3s ease;
}
#footer-section .bio .social a:hover{
    color: var(--footer-text-color-hover);
}
#footer-section .development .webpage-links a{
    margin: 4px 0;
    text-decoration: none;
    color: var(--footer-text-color-dark);
    transition: .4s ease;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: .06rem;
}
#footer-section .development .webpage-links a::after{
    content: '';
    display: block;
    background: var(--footer-text-color-hover);
    height: 2px;
    margin: 0 auto;
    width: 0%;
    transition: .2s ease;
}
#footer-section .development .webpage-links a:hover::after{
    width: 100%;
}
#footer-section .development .webpage-links a:hover{
    color: var(--footer-text-color-hover);
}
#footer-section .bio .title-head{
    margin: 15px 0 0 !important;
}
#footer-section .bio .title-head,
#footer-section .development .title-head,
#footer-section .website-redirect .contact-me{
    margin: 10px 0;
    color: var(--footer-text-color-hover);
}
#footer-section .website-redirect #visit-my-site{
    border-radius: 3px;
    padding: 10px 25px;
    text-decoration: none;
    background: var(--footer-website-btn-color);
    color: var(--footer-text-light-color);
    font-weight: bolder;
}


.flex-row-media-for-column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}

@media (max-width:850px){
    .flex-row-media-for-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
    }
}